.page-topnav {
    box-shadow: 0 1.5px 1px rgb(36, 36, 36);
}
.page-topnav-icons {
    width: 1.5rem;
    height: 1.5rem;
}
.page-topnav-icons:hover {
    opacity: .7;
    cursor: pointer;
}



.page-topnav-header-me {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-topnav-me-input {
    margin-left: 1rem;
}

.page-topnav-me-friends-settings {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.page-topnav-friend-setting {
    padding: .25rem .75rem;
    border-radius: .5rem;
}
.page-topnav-friend-setting:hover {
    background-color: rgb(67,68,75);
    opacity: .7;
    cursor: pointer;
}

.page-topnav-me-settings {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 1rem;
}

.page-topnav-header-dm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-topnav-dm-info-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.page-topnav-dm-user-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.page-topnav-dm-settings {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}
