.navbar {
    background-color: rgb(30,31,34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.navbar-channels-container,  .navbar-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.navbar-channels-container {
    margin-top: 1rem;
}
.navbar-info-container {
    margin-bottom: 1rem;
}
.channel {
    width: 3rem;
    height: 3rem;
    background-color: rgb(49,51,56);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, border-radius 0.2s, transform 0.3s;
    position: relative;
}
.channel:hover {
    cursor: pointer;
    border-radius: 1rem;
}
.channel:active {
    z-index: 110;
    transform: translateY(+.1rem);
}
.channel:hover .channel-tooltip {
    display: block;
}
.channel-icon {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: border-radius .2s;
}
.channel:hover .channel-icon {
    border-radius: 1rem;
}

.channel-me-with-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
}
.channel-me:hover {
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgb(88,101,242);
}

.channel-me-icon {
    width: 2rem;
}

.channel .app-nav-lines-v {
    display: none;
}
.channel:hover .app-nav-lines-v {
    display: block;
}

.channel-add-server .channel-add-server-plus {
    color: #23A559;
    font-weight: 200;
    font-size: 2rem;
}
.channel-add-server:hover {
    background-color: #23A559;
}
.channel-add-server:hover .channel-add-server-plus {
    color: white;
}