.user-icon-container {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
}
.user-icon {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.user-status-icon-img {
    border: 1px solid rgb(43,45,49);
    background-color: rgb(43,45,49);
    border-radius: 50%;
    width: 40%;
    height: 40%;

    position: absolute;
    top: 50%;
    right: -5px;
}